<div class="main">
    <div class="person">
        <img [src]="userdata?.picture.large" (mouseenter) ="mouseEnter() " (mouseleave) ="mouseLeave()"/><br>
        <p id="text">Hi, My name is</p><br>
        <p id="name" (mouseenter) ="mouseEnter() " (mouseleave) ="mouseLeave()">{{userdata?.name.first}} {{userdata?.name.last}}</p><br>
        <button (click)="buttonclick()" (mouseenter) ="mouseEnter() " (mouseleave) ="mouseLeave()">New</button><br>
        <span>{{currentsec}}</span>
    </div>
</div>